*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/.idea
.rvmrc
.rbenv
doc/
yardoc/
.yardoc/
Gemfile.lock
*.sqlite3
/spec/db/mysql.yml
/spec/db/postgresql.yml
/spec/db/sqlite.yml
